<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CBS Cocktail Selector</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Welcome to the CBS Cocktail Selector</h1>
    <p> The CBS Cocktail selector will let you enter up to three ingredients and provide you with a suggested cocktail.  <strong>A new experience is one click away!</strong> </p>
    <div align="left">
        <form action="main">
            <input type="submit" value="Click to Find a Cocktail Recipe">
        </form>
    </div>
    <br>
    <img src="cocktails-recipes.jpg" alt="Beach Drink" width="50%" height="50%" vertical-align="middle"/>
</body>
</html>
