<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2>Ingredient Selector</h2>
<p>Enter up to three ingredients below.  Based on your entries the CBS Cocktail Selector will suggest a cocktail recipe that includes one or more of your ingredients.</p>

<div style="background-color:lightcyan; color:darkblue; padding:0px;">
    <fieldset>Ingredients<br><br>
        <form action="output">
            First ingredient:<input type="text" name="ingredient_one"><br><br>
            Second ingredient:<input type="text" name="ingredient_two"><br><br>
            Third ingredient:<input type="text" name="ingredient_three"><br><br>
            <br>
            <input type="submit" value="Submit">
            <br>
        </form>
    </fieldset>
</div>
<br>
<div style="background-color: navajowhite; color: darkblue; padding: 0px;"/>
<fieldset>Ingredient Suggestions
    <br>
    <br>
    <div style="background-color: lightgrey; color: darkblue; padding: 10px;">PLACEHOLDER1</div><br>
    <div style="background-color: lightgrey; color: darkblue; padding: 10px;">PLACEHOLDER2</div><br>
    <div style="background-color: lightgrey; color: darkblue; padding: 10px;">PLACEHOLDER3</div><br>
</fieldset>



</body>
</html>